@font-face {
  font-family: 'Amiri';
  src: url('../fonts/Amiri-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Amiri' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e905";
}
.icon-clear{
  background-image: url(/static/imgs/close.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
.icon-close:before {
  content: "\e904";
}
/* .icon-chevrons-up:before {
  content: "\e906";
} */
.icon-users:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e903";
}
.icon-eye:before {
  content: "\e902";
}
.icon-shopping-bag:before {
  content: "\e900";
}

.icon-search{
  background-image: url(/static/imgs/search.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
.icon-search:hover{
  opacity: .6;
}
