.shopFeatures_new, .p-page-area{
  margin-top: 100px;
}
.contant-page{
  margin-top: 160px;
  margin-bottom: 60px;
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.8;
}

.header-right{
  justify-content: flex-end !important;
}
.carousel-caption{
  right: auto;
  left: 48px;
  color: #333333;
}
.sort-child{
    display: none;
    position: absolute;
    top: 90px;
    color: #000000;
    font-size: 16px;
    font-style: normal;
    box-sizing: border-box;
    width: 170px;
    background: #FFFFFF;
    border: 0.5px solid #DBDBDB;
    box-shadow: 0px 25px 50px -12px rgba(16, 24, 40, 0.1);
    margin-left: -24px;
    padding: 22px 0 12px 24px;
}
.sort-child:hover {
  display: block;
}
.sort-child a {
  font-size: 16px !important;
  cursor: pointer;
  margin-bottom: 12px;
  display: inline-block;
}
.carousel-caption p{
  margin: 0;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  /* font-family: Manrope; */
  font-family: 'PingFang SC';
  margin-bottom: 10px;
}
.carousel-caption h5{
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 400;
  font-size: 40px;
  font-family: Amiri;
}

.product .productInner .imgHov{
  width: 100%;
}

.blog_inner{
  margin-bottom: 0;
}

.show-box{
  margin-top: 100px;
  padding: 100px 0;
  background-color: #393939;
}
.sectionTitle button{
  margin: 32px auto 0;
  background: #333333;
  height: 42px;
  width: 200px;
  cursor: pointer;
  letter-spacing: 0.9375px;
  font-size: 14px;
  border: none;
}
.sectionTitle button:hover{
  background: #C6AD89;
}
.sectionTitle button:active{
  background: #977849;
}
.sectionTitle button a{
  color: #FFFFFF;
	font-family: Manrope;
}
.show-box .sectionTitle{
  margin-bottom: 10px
}
.show-box .sectionTitle h3{
	font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.ml-2, .mx-2{
  margin-left: -0.5rem !important;
}

.widget-area p, .widget-area li, .widget-area li a{
  color: #333333;
}

.layui-layer-title {
  font-family: 'Mollie glaston' !important;
  font-size: 18px !important;
}
.layui-layer-dialog .layui-layer-content{
  font-family: 'Halyard Text' !important;
  font-weight: 300 !important;
}

.productInner img:hover{
    transform: scale(1.18);
    transition: all 5s ease
}

.product-name{
  text-align: center;
  font-family: 'Mollie glaston';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  order: 0;
  flex-grow: 0;
}
.product-price{
  font-size: 10px;
  color: #977849;
  text-align: center;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 10px;
  padding-left: 10px;
}

.fa-compress{
  background-image: url(/static/picture/full-normal.png);
  background-size: cover;
  background-position: center;
}



/* details */
.detail-title{
  font-family: Amiri;
  font-style: italic;
}
.italic{
  font-style: italic;
}

.detail-describe, .detail-describe p{
  font-family: Manrope;
  font-size: 16px;
  line-height: 200%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #333333;
}

.detail-bottom{
  margin-top: 45px;
  font-family: Amiri;
  font-size: 20px;
  font-weight: normal;
}
.detail-bottom img{
  margin-left: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icons a{
  display: inline-block;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.icons a:nth-child(1) {
  background-image: url(/images/icon/facebook.png);
}
.icons a:nth-child(1):hover{
  background-image: url(/images/icon/facebook1.png);
}
.icons a:nth-child(2) {
  background-image: url(/images/icon/twitter.png);
}
.icons a:nth-child(2):hover{
  background-image: url(/images/icon/twitter1.png);
}
.icons a:nth-child(3) {
  background-image: url(/images/icon/instagram.png);
}
.icons a:nth-child(3):hover{
  background-image: url(/images/icon/instagram1.png);
}

.views{
  padding-top: 3px;
}

#sortSelect, .current{
  font-size: 20 !important;
}



/* 移动端设置 */
@media screen and (max-width: 600px) {
  #featureProducts .product {
    margin-bottom: 10px;
  }
  .contentRowPad .img-responsive{
    margin-bottom: 10px;
  }
  .footer-widget{
    padding-bottom: 15px
  }
  .mobile-none{
    display: none;
  }

  .sectionTitle h3 {
    padding: 0 10px;
    font-size: 30px;
  }

  .sectionTitle h5 {
    padding: 0 15px;
  } 

  .show-box .sectionTitle h3{
    padding: 0 20px;
  }

  .product-name, .product-name div{
    font-size: 20px;
  }
  .product-price{
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  a.mobile-menubar {
    color: #fff;
    font-size: 22px;
    background: url(/images/icon/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .subscriber-area{
    margin-top: 30px;
  }
  .header a.mobile-menubar{
    width: 30px;
    height: 30px;
    display: block;
  }
  .img-responsive{
    margin-bottom: 100px;
  }
  .mobil-mune{
    font-size: 20px;
    color: #000000;
    font-style: italic;
  }
  .submit-mobile{
    max-width: 90vw;
  }
  .footer-widget .btn{
    padding: 16px 22px;
    border-radius: 0 3px 3px 0;
  }
}

.label{
  margin-bottom: 12px;
  height: 22px;
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #333333;
}
.col-form{
  margin-bottom: 50px;
}
.col-form input{
  width: 100%;
  border: 0.5px solid #333333;
  height: 54px;
  color: #333333;
  font-family: 'Manrope';
  font-size: 16px;
  font-family: 'Manrope';
}
.col-form input:focus{
  outline-style: none; 
  border: 1px solid #333333;
}
.col-form textarea{
  width: 100%;
  border: 0.5px solid #333333;
  color: #333333;
  font-family: 'Manrope';
  font-size: 16px;
}
.col-form textarea:focus{
  outline-style: none; 
  border: 1px solid #333333;
}
.send{
  background: #333333;
  width: 124px;
  height: 54px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
#submit{
  background: #333333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  z-index: 9;
  font-size: 16px;
  font-family: 'Manrope';
}
.send:hover, #submit:hover{
  background: #C6AD89;
  border-color: #C6AD89;
}
.send:active, #submit:active{
  background: #977849;
}
.error{
  outline-style: none; 
  background: rgba(250, 58, 58, 0.1);
  opacity: 0.6;
  border: 0.5px solid #FA3A3A!important;
  border-right: none;
  color: #FA3A3A!important;
}


@media screen and (max-width: 600px) {

}