.shopFeatures_new, .p-page-area{
  margin-top: 100px;
}

.product .productInner .imgHov{
  width: 100%;
}

.blog_inner{
  margin-bottom: 18px;
}

.show-box{
  margin-top: 100px;
  padding: 100px 0;
  background-color: #393939;
}
.sectionTitle button{
  margin: 32px auto 0;
  background: #333333;
  height: 42px;
  width: 200px;
  cursor: pointer;
  letter-spacing: 0.9375px;
  font-size: 14px;
  border: none;
}
.sectionTitle button a{
  color: #FFFFFF;
}
.show-box .sectionTitle{
  margin-bottom: 10px
}
.show-box .sectionTitle h3{
  font-family: 'Mollie glaston';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.ml-2, .mx-2{
  margin-left: -0.5rem !important;
}

.widget-area p, .widget-area li, .widget-area li a{
  color: #333333;
}

.layui-layer-title {
  font-family: 'Mollie glaston' !important;
  font-size: 18px !important;
}
.layui-layer-dialog .layui-layer-content{
  font-family: 'Halyard Text' !important;
  font-weight: 300 !important;
}